In [25]:
import pandas as pd
import numpy as np

# Dataframe, Dictionary, list之间的转换

## 字典转dataframe

In [26]:
df = pd.DataFrame([dic]) #注意有中括号

NameError: name 'dic' is not defined

## Dataframe转csv

In [ ]:
df.to_csv('')

## list转Dataframe

#### Python中将列表转换成为数据框有两种情况： 
#### 第一种：两个不同列表转换成为数据框

In [ ]:
a=[1,2,3,4]
b=[5,6,7,8]
c={"a" : a,
   "b" : b}  #将列表a，b转换成字典
data=pd.DataFrame(c) #将字典转换成为数据框
print(data)

#### 第二种：将包含不同子列表的列表转换为数据框

In [ ]:
a=[[1,2,3,4],[5,6,7,8]]  #包含两个不同的子列表[1,2,3,4]和[5,6,7,8]
data=pd.DataFrame(a)    #这时候是以行为标准写入的
print(data)

**注意上面的dataframe的排列方式,要想纵向排列，转置一下即可**  
转置之后得到想要的结果

In [ ]:
data=data.T#转置之后得到想要的结果
data.rename(columns={0:'a',1:'b'},inplace=True)  #注意这里0和1都不是字符串
print(data)

## DataFrame转为list

In [ ]:
df.values.tolist()
np.array(df).tolist() # 先转换成ndarray

In [ ]:
data = pd.DataFrame(np.arange(16).reshape(4,4),index=list('abcd'),columns=list('wxyz'))
data

#### 取一列

In [ ]:
data['w']  #选择表格中的'w'列，使用类字典属性,返回的是Series类型

In [ ]:
data.w    #选择表格中的'w'列，使用点属性,返回的是Series类型

In [ ]:
data[['w']]  #选择表格中的'w'列，返回的是DataFrame类型

#### 如果列名没有定义/不知道列名

In [ ]:
data.iloc[:,0]

#### 取两列

In [ ]:
data[['w','z']]  #选择表格中的'w'、'z'列

 ####  取一行

In [ ]:
data[1:2]   #返回第2行，从0计，返回的是单行，通过有前后值的索引形式，
            #如果采用data[1]则报错

In [ ]:
data.iloc[1] #返回第2行，返回的是series，

#### 取两行

In [ ]:
data[0:2]

In [ ]:
data['a':'b']  #利用index值进行切片，返回的是**前闭后闭**的DataFrame, 
               #即末端是包含的

In [ ]:
data.loc['a',['w','x']]   #返回‘a’行'w'、'x'列，这种用于选取行索引列索引已知

### 选取特定列的值所在的多行

![avatar](https://img-blog.csdn.net/20180516092837684?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2h0YmVrZXI=/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70)
![avatar](https://img-blog.csdn.net/20180516092847382?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2h0YmVrZXI=/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70)
![avatar](https://img-blog.csdn.net/20180516092857828?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2h0YmVrZXI=/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70)

### loc,iloc的区别

loc：通过选取行（列）标签索引数据  
iloc：通过选取行（列）位置编号索引数据   
ix：既可以通过行（列）标签索引数据，也可以通过行（列）位置编号索引数据  
**为了避免用户在使用这三种方法时产生混淆，从pandas 0.20.0版本开始，官方不推荐使用.ix方法，而是使用.iloc 和.loc方法**

### 命名dataframe的列

In [ ]:
df.columns = ['a','b']
df

In [ ]:
#重命名
df.rename(columns = {'a':'A'},inplace = True)
df

In [ ]:
# 创建一个空的数据集带列名
df = pd.DataFrame(columns = ['S', 'F'])
df

## list合并
[python 中列表（list）合并、数组（array）合并](https://blog.csdn.net/daoxiaxingcai46/article/details/78269910)

In [ ]:
a = [[1,2,3],[4,5,6]]
b = [[1,1,1],[2,2,2]]

In [ ]:
c = a + b
a.extend(b) # 这两种合并的方法结果都是一样的

In [ ]:

a

# 删除/ 过滤某个范围的值

In [ ]:
data = {
       '证券名称' : ['格力电器','视觉中国','成都银行','中国联通','格力电器','视觉中国','成都银行','中国联通'],
       '摘要': ['证券买入','证券买入','证券买入','证券买入','证券卖出','证券卖出','证券卖出','证券卖出'],
       '成交数量' : [500,1000,1500,2000,500,500,1000,1500],
       '成交金额' : [-5000,-10000,-15000,-20000,5500,5500,11000,15000]
    }
    
df = pd.DataFrame(data,index = ['2018-2-1','2018-2-1','2018-2-1','2018-2-1','2018-2-2','2018-2-2',
                                   '2018-2-2','2018-2-3'])
df

### 删除具体列

In [ ]:
df.drop('成交数量',axis=1)

### 删除具体行

In [ ]:
df.drop('2018-2-3')

### 删除特定数值的行（删除成交金额小于10000)

In [ ]:
df[ df['成交金额'] > 10000]

In [ ]:
df[df['成交金额'].isin([11000])]

In [ ]:
#有时候我们需要去掉不止一个值，这个时候只需要在isin([]）的列表中添加
df[(True^df['成交金额'].isin([5500,15000]))]

### 删除某列包含特殊字符的行

In [ ]:
df[ ~ df['证券名称'].str.contains('联通') ] # ～是取反的意思, 如果要包含的话就不要这个取反的符号

### 判断df为空

In [ ]:
df.empty

### 判断list为空

In [ ]:
len(a) == 0

# 缺失值与空值的处理

In [ ]:
index = ['0', '1', '2', '3', '4', '5']
columns = ['A', 'B', 'C']
df = pd.DataFrame(np.random.randn(6,3), index= index, columns = columns)
df.iloc[1:2,2] = np.nan
df.iloc[3,0:2] = np.nan
df.iloc[4,1] = np.nan
df.iloc[5,:] = np.nan
df

### 查看缺失值的情况

In [ ]:
df.isnull() #返回的是True和False
df.isnull().any() #看每列是否有缺失值
df.isnull().any(1) #看每行是否有缺失值

### 缺失数据删除

DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
函数作用：删除含有空值的行或列  

axis:维度，axis=0表示index行,axis=1表示columns列，默认为0  

how:"all"表示这一行或列中的元素全部缺失（为nan）才删除这一行或列，"any"表示这一行或列中只要有元素缺失，就删除这一行或列  

thresh: 行非缺失值至少为thresh个。  

subset：在某些列的子集中选择出现了缺失值的列删除，不在子集中的含有缺失值得列或行不会删除（有axis决定是行还是列）  

inplace：刷选过缺失值得新数据是存为副本还是直接在原数据上进行修改。

In [ ]:
df.dropna(how = 'all') #删除全为缺失值的行或列
df.dropna(how = 'any') #删除只要有缺失值的行或列

In [ ]:
df.dropna(thresh = 3)

In [ ]:
df.dropna(subset = [0]) #过滤第一列为缺失值的情况
df.dropna(subset = [0，2])

### 填充缺失数据

DataFrame.fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None, **kwargs)  



value:需要用什么值去填充缺失值  

axis:确定填充维度，从行开始或是从列开始  

method：ffill:用缺失值前面的一个值代替缺失值，如果axis =1，那么就是横向的前面的值替换后面的缺失值，如果axis=0，那么则是上面的值替换下面的缺失值。backfill/bfill，缺失值后面的一个值代替前面的缺失值。注意这个参数不能与value同时出现  

limit:确定填充的个数，如果limit=2，则只填充两个缺失值。

#### 不同的列填充不同常数

In [ ]:
df.fillna({1:3,2:5}) #第二列缺失值填充为3,第三列缺失值填充为5

#### 向前/向后填充

In [ ]:
df.fillna(axis=1,method='ffill') #横向用缺失值前面的值替换缺失值 
df.fillna(axis=0,method='ffill') #纵向用缺失值上面的值替换缺失值

#### 均值填充

In [ ]:
df.fillna(df.mean())

### 查找缺失值所在的位置

In [ ]:
df['A'].count() # A列不为空值的个数
len(df) #df的行数
df.shape[0] #df的行数
df['A'].isnull().values == True #A列哪些位置是空值，返回True/False

In [ ]:
for c in df.columns:
    if df[c].count() != len(df):
        loc = df[c][df[c].isnull().values == True].index.tolist()
        print('缺失值位于',c, '列',loc)

#### 利用np.where

In [ ]:
i = df.index[np.where(np.isnan(df))[0]].values # 出现空值的行，每出现一个空值都会显示所在的行
c = df.columns[np.where(np.isnan(df))[1]].values # 出现空值的列
l = [i,c]
location = pd.DataFrame(l)
location #每一列代表一个坐标 （1，C）有空值

# 重复行的处理

### 检测重复值，如果有重复值就去掉重复值

In [ ]:
dup = df.duplicated()
dup = dup.values.tolist()
count = dup.count(True)
print(count) # if count >1 , means have duplicated value
if count > 1:
    df_drop = df.drop_duplicates()

# groupby 使用

参考资料：  
[用Python开始的数据分析——分组groupby（1)](https://zhuanlan.zhihu.com/p/29371291)  
[数组聚合和分组运算](https://blog.csdn.net/qq_40587575/article/details/81169502)  
[新手向——理解Pandas的Transform](https://www.jianshu.com/p/509d7b97088c)

### groupby获得分组里面最大值所在的行
#### 先排好序，然后每组取第一个

In [ ]:
df = f.sort_values(by = 'strdate', ascending=False).groupby('name', as_index=False).first() #max day

### groupby，agg 分组统计

agg函数，它提供基于列的聚合操作， 一般与groupby连用  
而groupby可以看做是基于行，或者说index的聚合操作

分组统计是数据分析中较为复杂的一种操作，但是使用起来非常有用，能避开大量的循环等等。

In [ ]:
df = pd.DataFrame({
            "key1":     ["a", "a", "b", "b", "a"],
            "key2":     ["one", "two", "one", "two", "one"],
            "data1":    np.random.randn(5),
            "data2":    np.random.randn(5)
        })
df

#### 以某一列为参照物对另一列进行分组统计

In [ ]:
# 依据key1 进行分组， 将data1的数值分为a， b 两组， 再求出平均值,
key1 = df['data1'].groupby(df['key1']).mean()

# 语法糖为
key1 = df.groupby('key1')['data1'].mean()
key1

In [ ]:
group1 = df.groupby('key1')[['data1']].mean() #双层中括号可以返回一个dataframe
group1

In [ ]:
amean = (-0.255326+1.556983+1.465029)/3
amean # 演示一下表示这个groupby是怎么运行的

#### 以某几列为参照物对另一列进行分组统计

In [ ]:
#一次传入多个数组
key12 = df.groupby(['key1','key2'])[['data2']].mean()
key12

In [ ]:
#通过两个键对数据进行分组， 得到对的series 具有一个层次化索引，（由唯一的键值对组成）
un = key12.unstack()
un

#### 以任意数组为分组键对另一列进行分组统计

In [ ]:
# 以任意数组为分组键
states = np.array(['ohio','California','ohio','ohio','California'])
years = np.array([2005,2004,2004,2004,2005])
key = df['data1'].groupby([states, years]).count()
key

#### 对分组进行迭代
groupby 对象支持迭代， 可以产生一组二元元组

In [ ]:
for name, group in df.groupby('key1'):
    print(name)
    print(group)

#### 通过字典或者Series进行分组

In [ ]:
np.random.seed(666)
people = pd.DataFrame(np.random.randn(5,5),
                   columns = list('abcde'),
                   index = ['Joe','Steve','Wes', 'Jim', 'Travis']
                   )
people.loc[2:3, ['b', 'c']] = np.NaN #添加2个na值
people

In [ ]:
mapping = {'a':'red', 'b':'red', 'c':'blue','d':'blue','e':'yellow','f':'orange'}  #f 中对应上述数据不存在
by_color = people.groupby(mapping, axis = 1).sum() #axis = 1 根据列进行索引，默认是根据行进行索引
by_color.head()

#### 通过函数进行分组

In [ ]:
name_len = people.groupby(len).sum() #如果sum函数不加括号就会报错
name_len

#### 根据索引级别分组

In [ ]:
columns = pd.MultiIndex.from_arrays([['US','US','CHINA','JP','JP'],
                                     [1,3,5,1,3]],
                                     names = ['city','tenor']
                                     )
hier_data = pd.DataFrame(np.random.randn(4,5), columns = columns)
hier_data

In [ ]:
#层次化索引数据集最方便的地方在于它能够根据索引级别进行聚合
hier_data.groupby(level = 'city', axis = 1).count()

### groupby,transform高效汇总数据

aggregation会返回数据的缩减版本，而transformation能返回完整数据的某一变换版本供我们重组。  
这样的transformation，输出的形状和输入一致。  
一个常见的例子是通过减去分组平均值来居中数据。

In [32]:
data = {
    'account' : [383080,383080,383080,412290,412290,412290,412290,412290,218895,218895,218895,218895],
       'name': ['Will LLC','Will LLC','Will LLC', 'Jerde-Hilpert', 'Jerde-Hilpert','Jerde-Hilpert','Jerde-Hilpert',
                'Jerde-Hilpert','Kulas Inc', 'Kulas Inc', 'Kulas Inc', 'Kulas Inc'],
'order': [10001,10001,10001,10005,10005,10005,10005,10005,10006,10006,10006,10006,],
    'sku': ['B1-20000','S1-27722','B1-86481','S1-06532','S1-82801','S1-06532','S1-47412','S1-27722','S1-27722',
            'B1-33087','B1-33364','B1-20000'],
    'quantity': [7,11,3,48,21,9,44,36,32,23,3,-1],
    'unit price':[33.69,21.12,35.99,55.82,13.62,92.55,78.91,25.42,95.66,22.55,72.3,72.18],
    'ext price': [235.83,232.32,107.97,2679.36,286.02,832.95,3472.04,915.12,3061.12,518.65,216.9,-72.18]
    }
df = pd.DataFrame(data)
df

    account           name  order       sku  quantity  unit price  ext price
0    383080       Will LLC  10001  B1-20000         7       33.69     235.83
1    383080       Will LLC  10001  S1-27722        11       21.12     232.32
2    383080       Will LLC  10001  B1-86481         3       35.99     107.97
3    412290  Jerde-Hilpert  10005  S1-06532        48       55.82    2679.36
4    412290  Jerde-Hilpert  10005  S1-82801        21       13.62     286.02
5    412290  Jerde-Hilpert  10005  S1-06532         9       92.55     832.95
6    412290  Jerde-Hilpert  10005  S1-47412        44       78.91    3472.04
7    412290  Jerde-Hilpert  10005  S1-27722        36       25.42     915.12
8    218895      Kulas Inc  10006  S1-27722        32       95.66    3061.12
9    218895      Kulas Inc  10006  B1-33087        23       22.55     518.65
10   218895      Kulas Inc  10006  B1-33364         3       72.30     216.90
11   218895      Kulas Inc  10006  B1-20000        -1       72.18     -72.18

#### groupby实现形式

In [ ]:
df.groupby('order')['ext price'].sum()

[groupby图](https://upload-images.jianshu.io/upload_images/2422746-310f1353a2e7882a.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1000)

#### 如果想给表格加一列，多一列订单总额，形状要跟原来一样

In [ ]:
df.groupby('order')['ext price'].transform('sum')

In [ ]:
df['total order'] = df.groupby('order')['ext price'].transform('sum')
df['percent of order'] = df['ext price'] / df['total order']
df

[transform流程图](https://upload-images.jianshu.io/upload_images/2422746-c25ab9ebb27aef44.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1000)

## zip()函数
#### 将对象中对应的元素打包成一个个元组，然后返回由这些元组组成的列表
[Python中zip()函数用法举例](https://blog.csdn.net/eric_sunah/article/details/20551087)

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
c = [4, 5, 6, 7, 8]
list(zip(a,b)) 
# print zip后的结果会出现：<zip object at 0x02A9E418>

#### 二维矩阵变换（矩阵的行列互换）

In [ ]:
a = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
#通过python列表推导的方法，我们也能轻易完成这个任务
[ [row[col] for row in a] for col in range(len(a[0]))]

In [ ]:
#也可以利用zip函数
list(zip(*a))

In [ ]:
map(list,zip(*a))

## Python数字加千分符

In [ ]:
format(1234567890,',')

### 将数据分组
[pandas.cut函数说明](https://blog.csdn.net/Cicome/article/details/79153268)

pd.cut(x,bins）  
x为nd.array  
bins为要分的组

## MultiIndex
[MultiIndex documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html)

In [ ]:
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
        ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]
tuples = list(zip(*arrays)) 
tuples
#将准备构造的indx两两对齐

In [35]:
index = pd.MultiIndex.from_tuples(tuples, names = ['first', 'second'])
a = np.random.randn(8)
print(type(a))
s = pd.DataFrame(a, index = index, columns = ['value']) #注意！！！ 加入的值a必须是ndarray
s

<class 'numpy.ndarray'>

           value
second       one       two
first
bar     1.058994  1.586311
baz    -0.317954  1.592656
foo    -0.586506  0.073676
qux     0.433875  1.408746

In [36]:
s.unstack()

           value
second       one       two
first
bar     1.058994  1.586311
baz    -0.317954  1.592656
foo    -0.586506  0.073676
qux     0.433875  1.408746

In [ ]:
#As a convenience, you can pass a list of arrays directly into Series or DataFrame 
#to construct a MultiIndex automatically

In [37]:
arrays = [np.array(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux']),
         np.array(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'])]
s = pd.Series(np.random.randn(8), index=arrays)
s

bar  one    1.210922
     two    1.092599
baz  one   -0.099336
     two   -0.472709
foo  one    0.256324
     two    0.734386
qux  one   -1.540366
     two    0.728223
dtype: float64

## 数据类型

[参考博文](https://juejin.im/post/5acc36e66fb9a028d043c2a5)

#### pandas和numpy的数据类型对应

![pandas和numpy的数据类型对应.png](https://github.com/chordou/markdownPictures/blob/master/pandas%E5%92%8Cnumpy%E6%95%B0%E6%8D%AE%E7%B1%BB%E5%9E%8B%E5%AF%B9%E6%AF%94.png)

#### type和dtype的区别
##### e.g type显示的是series,而dtype显示的是series里面的元素

![type和dtype的区别.png](https://github.com/chordou/markdownPictures/blob/master/type%E5%92%8Cdtype%E7%9A%84%E5%8C%BA%E5%88%AB.png)

为了真正修改原始 dataframe 中的客户编号（Customer Number），
记得把 astype() 函数的返回值重新赋值给 dataframe，因为 astype() 仅返回数据的副本而不原地修改。

In [ ]:
df["Customer Number"] = df['Customer Number'].astype('int')

In [ ]:
#如果我们想查看 dataframe 中的所有数据类型，使用 
df.dtypes

### 出现了类型错误： 'float' object has no attribute 'shape'  
此时应该看操作的对象是不是object  
[参考资料](https://stackoverflow.com/questions/45670487/numpy-cov-exception-float-object-has-no-attribute-shape)

## jupyter notebook 常用操作

#### 快捷键：  
H：查看快捷键  
Esc：进入命令模式  
Enter：进入编辑模式  
M：markdown  
s：save保存  
x：删除  
a：above插入  
b：below插入  
Ctrl+Enter：运行cell  
shift+Enter：运行cell并进入下一个cell  
Alt+Enter : 运行本单元，在其下插入新单元  
X : 剪切选中的单元  
C : 复制选中的单元  
Shift-V : 粘贴到上方单元  
V : 粘贴到下方单元  
L：显示行号，在命令模式中的代码单元格按 `L` 打开数字

## 参考链接

[jupyter code和markdown转换](https://blog.csdn.net/qq_35423500/article/details/79565146)  
[jupyter maekdown 语法](http://xianbai.me/learn-md/index.html)  
[Pandas将列表（List）转换为数据框（Dataframe）](https://blog.csdn.net/claroja/article/details/64439735)    
[pandas获取指定的列和行](https://blog.csdn.net/weixin_38859557/article/details/80977643)  
[pandas中根据列的值选取多行数据](https://blog.csdn.net/htbeker/article/details/80332360)  
[Pandas删除数据的几种情况](https://www.cnblogs.com/cocowool/p/8421997.html)  
[pandas如何去掉、过滤数据集中的某些值或者某些行](https://blog.csdn.net/qq_22238533/article/details/76127966)  
[缺失数据处理](https://zhuanlan.zhihu.com/p/42210666)  
[pandas 缺失值与空值处理](https://blog.csdn.net/lwgkzl/article/details/80948548)  
[Pandas查找缺失值的位置，并返回缺失值行号以及列号](https://blog.csdn.net/u010924297/article/details/80060229)  
[如何找到NaN、缺失值或者某些元素的索引名称以及位置，np.where的使用](https://blog.csdn.net/AlanGuoo/article/details/77198503)
[pandas获取groupby分组里最大值所在的行](https://blog.csdn.net/Mappy93/article/details/79319506)  
[用Python开始的数据分析——分组groupby（1)](https://zhuanlan.zhihu.com/p/29371291)  
[写得很清楚！！ Pandas 数据类型概览](https://juejin.im/post/5acc36e66fb9a028d043c2a5)